name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and Package
      run: |
        python -m pip install --upgrade pip setuptools wheel twine
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python pitch/setup.py sdist bdist_wheel
        python -m twine upload dist/*
